body
{
background-image: url("C:/Users/face/Desktop/html/project6/img/bg.jpg");
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}
.nav
{
background-image: url("C:/Users/face/Desktop/html/project6/img/bg-header.jpg");
width: 100%;
height: 60px;
background-image: transparent;
/*position: absolute;*/
padding-top: 5px;
opacity: .5;

}
#logo
{
margin-left: 220px;
margin-top: 10px;
}
#ul
{
margin-left: 800px;
margin-top: -30px;
}
li
{
/*float: right;*/

list-style-type: none;
color: white;
display: inline;
}
.content
{
margin-left: 10%;
margin-right: 10%;
margin-top: -50px;
}
.images1
{
margin-top: -22px;
}
.image1
{
width: 599px;
height: 500px;
margin-left: 50px;
    position: absolute;
    margin-top: -30px;
}
.image2
{
margin-top: 90px;
margin-left: 148px;
width: 400px

}
.image3
{
position: absolute;
margin-left: -387px;
margin-top: 92px;
width: 568px;
}
.first
{
margin-top: -370px;
margin-left: 560px;
}
.para1
{
color: white;
margin-left: 250px;
margin-top: 40px;
}
.second
{
color: #aaa;

}
h2
{
font-size: 25px;
}
.images2
{
letter-spacing: 60px;
}
#images1
{
width: 259px;
}
#images2
{
width: 259px;
margin-left: -50px;
}
#images3
{
width: 259px;
margin-left: -50px;
}
#images4
{
width: 259px;
margin-left: -50px;
}
.para2
{
width: 260px;
color: #aaa;
font-size: 15px;
}
.para3
{
width: 260px;
color: #aaa;
font-size: 15px;
margin-left: 270px;
margin-top: -180px;
}
.para4
{
width: 260px;
color: #aaa;
font-size: 15px;
margin-left: 545px;
margin-top: -180px;
}
.para5
{
width: 260px;
color: #aaa;
font-size: 15px;
margin-left: 820px;
margin-top: -164px;
}
.footer
{
	background-image: url("C:/Users/face/Desktop/html/project6/img/bg.jpg");

height: 30px;
width: 40.5%;
padding-top: 10px;
color: white;
padding-left: 800px;
}
